.image-background {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

body {
  /* FIXME: Temp. workaround for vertical scrollbars */
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
