.image-background {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}


.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.app-content {
  flex: 1;
  position: relative;
}

.flexi-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* align-content: stretch; */
  height: 100%;
}

.main-content {
  flex: 1;
  overflow: auto;
}

.main-sidebar{
  flex: 0 300px;
}

.navigation {
  list-style: none;
  margin: 0;

  background: #3F51B5;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;

  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;

    &:hover,
    &.active {
      background: #303F9F;
    }

  }

}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;

    a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    li:last-of-type a {
      border-bottom: none;
    }
  }

}
