.image-background {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
