.user-search-screen {

  &__input {
    width: 60%;
    margin: 0 auto 10px auto;
    display: block;
    padding: 6px 12px;
    font-size: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s margin linear .5s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
    }
  }

  .content-holder {
    height: calc(100% - 260px);
    padding-top: 10px;
  }

}

.lists-wrapper{
  height: calc(100% - 55px);
  overflow: auto;

  .users-list,
  .tags-list {
    display: inline-block;
    margin-left: 24px;
    width: calc(50% - 24px);
    vertical-align: top;
  }
}

.found-users-container {
  width: 80%;
  font-size: 0px;
  letter-spacing: 0px;
  margin: 100px auto 0 auto;

  &__user {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
    font-size: 14px;
    margin: 5px;
  }
}

.found-user {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
  line-height: 30px;

  &__image {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
  }

  &__user-data-container {
    display: flex;
    align-items: center;
    height: 150px;
  }

  &__user-data {
    width: 100%;
  }

  &__username {
    font-size: 30px;
    color: #4b4f54;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    line-height: 35px;
  }

  &__fullname {
    font-size: 17px;
    margin-top: 14px;
    color: #4b4f54;
  }
}

.user-photos__user-container {
  width: 50%;
  margin-bottom: 100px;
}
